@use 'reset';
@use 'variables' as *;
@use 'mixins' as *;

:root {
  font-family: $font-family-base;
  color: $color-text;
}

html,
body,
#root {
  min-height: 100%;
  background-color: $color-body-bg;
}

body {
  color: $color-text;
  transition: background-color 0.25s ease, color 0.25s ease;
}

main {
  padding: 20px;
}

h2 {
  margin-bottom: 10px;
}

.sr-only {
  @include sr-only;
}
