@use './variables' as *;

#catalogo {
  h2 {
    margin-bottom: 10px;
    text-align: center;
  }
}

.lista-albumes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: $max-width;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .lista-albumes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .lista-albumes {
    grid-template-columns: 1fr;
  }
}
